*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
background-color: rgb(241, 248, 248);
}
h1{
    
    padding:50px 100px ;
    font-size: 100px;
    border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    text-align: center;
}
    
    


span{
    color: blueviolet;
}
p{
    text-align: justify;
    font-size: 20px;
}
a{
    
    
text-decoration: none;
background-color:blueviolet;
color: white;
padding: 10px;
display: inline-block;
margin-top: 50px;
transition-duration: 0.5s;
border-radius: 5px;

}
a:hover{
    background-color: rgb(180, 31, 185);
    color: black;
}
.half-wdith{
    width: 50%;
    
}
.header{
    display: flex;
    margin:10px 50px;
}
.person-img{
    width: 600px;
    float: right;
}
.ele{
    display: inline-flex;
    margin: 0 30px;
    
}
.mvg {
    width: 30%;
    padding: 50px;
    margin: 50px;
    
    border-radius: 10px;

    
}
.img{
    width: 300px;
    
    display: inline-block;
}
#mission{
    background-color: lightpink;
}
#vission{
    background-color: lightsalmon;

}
#goals{
    background-color: lightskyblue;
}
.limits {
    
    display:inline-flex;
    margin:100px;

}
.half{
    
}
.code-img{
    width: 500px;
    padding-left: 200px;
    background-image: url(../images/shape-1.png);
    background-size: 500px;
    background-repeat: no-repeat;
    padding-right: 200px;

    
}
.half-text{
    
    font-size: 40px;


}
.Community{
    display: inline-flex;
    margin-top: 100px;

}
.text{
    width: 50%;
    
    font-size:40px ;
    padding-left: 50px;
}
.pro-img{
    width: 500px;
    padding-left: 200px;
    background-image: url(../images/shape-1.png);
    background-size: 500px;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 200px;
}
    
    


    

